<mat-card class="post-card">
    <mat-card-header>
      <mat-card-title>
        {{ post.title }}
        @if (post.status === "CONCEPT") {
            <span class="concept-badge">Concept</span>
        }
        @else if(post.status === "PUBLISHED") {
            <span class="published-badge">Published</span>
        }
        @else if(post.status === "UNREVIEWED") {
            <span class="waiting-badge">Waiting to be reviewed</span>
        }
        @else if(post.status === "REJECTED") {
            <span class="rejected-badge">Rejected</span>
        }
        @else if(post.status === "APPROVED") {
            <span class="approved-badge">Approved</span>
        }
      </mat-card-title>
    </mat-card-header>
    <mat-card-footer>
      <p class="text-muted">Author: {{ post.author }}</p>
    </mat-card-footer>
    
  </mat-card>
  