/* app.component.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
  }
  
  .login-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
  }
  
  mat-card-title {
    text-align: center;
  }
  
  button {
    width: 100%;
  }

  mat-form-field {
    width: 100%;
    margin-top: 5px;
  }

  body {
    background-color: purple;
  }